@media (width <= 1199px) {
  .dish-content-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  .header-section {
    margin-left: 20px;
  }

  .category-header-img,
  .dish-item {
    border-radius: 0;
  }

  .left-content-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .dish-item {
    /* z-index example (no shadow overlap) */
    /* box-shadow: 0 0 6px #e4e4e4; */
    box-shadow: none;
    border-left: 0;
    border-right: 0;
  }

  .outer-cart-wrapper {
    position: relative;
    z-index: 2;
  }
}

@media (width <= 909px) {
  .left-content-wrapper {
    width: 100%;
  }

  .outer-cart-wrapper {
    position: fixed;
    right: -350px;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 350px;
    background: white;
    transition: right 0.3s ease;
    overflow-y: auto;
    box-shadow: none;
    z-index: 4;
  }

  .outer-cart-wrapper.show {
    right: 0;
    box-shadow: 0 0 6px #e4e4e4;
  }
}

@media (width <= 909px) {
  .mobile-close-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    background-image: url("../assets/icons/icons8-close-24.png");
    background-position: center;
    background-color: transparent;
    z-index: 5;
  }

  #mobile-cart-btn {
    display: block;
  }
}

@media (width <= 767px) {
  .outer-cart-wrapper {
    right: -100%;
  }

  .outer-cart-wrapper.show {
    width: 100%;
  }

  .sticky-cart-wrapper {
    width: 100%;
  }

  .success-message-center {
    display: flex;
    justify-content: center;
  }
}

@media (width <= 480px) {
  header img,
  .header-section,
  .category-header,
  .dish-info {
    margin-left: 10px;
  }

  .dish-info {
    margin-right: 10px;
  }

  .dish-button {
    top: 10px;
    right: 10px;
  }

  .cart-header,
  #cart-items,
  #cart-total-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  #mobile-cart-btn {
    right: 10px;
  }
}
