/* -------------------- CSS reset -------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* -------------------- general styling -------------------- */

:root {
  --padding20: 20px;
  --jetblack: #2a2a2a;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --sans: sans-serif;
}

body {
  min-height: 100vh;
  font-family: var(--sans);
  display: flex;
  flex-direction: column;
}

/* -------------------- header -------------------- */

header {
  display: flex;
  align-items: center;
  background-color: #ff8000;
  height: 70px;
  box-shadow: 0px 5px 10px #e4e4e4;
}

header img {
  max-height: 50px;
  margin-left: 20px;
}

/* -------------------- main content-wrapper -------------------- */

.content-wrapper {
  display: flex;
  flex-direction: row;
}

/* -------------------- dish section -------------------- */

h1 {
  text-align: center;
}

.content {
  width: calc(100% - 300px);
}

.img-top {
  width: 100%;
  height: 450px;
}

.img-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#dishes-wrapper {
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
}

.dish-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #e4e4e4;
}

.dish-info {
  padding: var(--padding20);
}

.dish-info p {
  margin-top: 20px;
}

.dish-info-price {
  font-weight: bold;
  color: #ff8000;
}

.dish-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  color: #ff8000;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  background-color: white;
  user-select: none; /* Standard für die meisten Browser */
  -webkit-user-select: none; /* Für Safari */
  -moz-user-select: none; /* Für Firefox */
  -ms-user-select: none; /* Für ältere IE-Versionen */
}

.dish-button:hover {
  background-color: #e4e4e4;
}

/* -------------------- cart section -------------------- */

.outer-cart-wrapper {
  box-shadow: 0px 5px 10px #e4e4e4;
}

.sticky-cart-wrapper {
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 300px;
}

.cart-header {
  border-bottom: 1px solid #e4e4e4;
  padding: 20px 0 20px 0;
}

.cart-header h2 {
  text-align: center;
}

.cart-item {
  padding: 20px;
}

.cart-item-info {
  display: flex;
  justify-content: space-between;
}

.cart-item button {
  width: 20px;
}

.cart-total-wrapper {
  display: none;
  margin-top: 10px;
  font-weight: bold;
}

.cart-total-wrapper.visible {
  display: block;
}

/* -------------------- footer -------------------- */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e4e4e47d;
  margin-top: auto;
}
